.masonry .entry-thumbnail h4 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.category .entry-thumbnail {
	position: relative;
	margin-top: -25px;
}

.category .entry-thumbnail h4 {
	position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.sidr .menu {
	font-size: 18px;
}