.masonry .entry-thumbnail h4 {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 280px;
    background-color: white;
    opacity: 0.6;
    margin-left: 10px;
    padding: 5px;
}

.category .entry-thumbnail {
	position: relative;
	margin-top: -25px;
}

.category .entry-thumbnail h4 {
	position: absolute;
    bottom: -27px;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.6;
    margin-left: 10px;
    padding: 5px;
}

.sidr .menu {
	font-size: 18px;
}

#footbar .widget {
    border-top: 0px;
}

ul.facilitadores {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

ul.facilitadores li {
    margin-right: 15px;
    float: left;
}