.masonry .entry-thumbnail h4 {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 280px;
    background-color: white;
    opacity: 0.6;
    margin-left: 10px;
    padding: 5px;
}

.category .entry-thumbnail {
	position: relative;
	margin-top: -25px;
}

.category .entry-thumbnail h4 {
	position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

.sidr .menu {
	font-size: 18px;
}